{% extends 'base.html' %}
{% block title %}Contas bancárias{% endblock %}

{% block content %}
<h1>Bancos</h1>

<div class="ui-form ui-widget-content ui-corner-all">
  <div class="ui-form-content">
    <div class="ui-grid"> 
      <table class="ui-widget-content ui-grid-content">
        <thead>
          <tr class="ui-widget-header ">
            <th class="ui-state-default" ></th>
            <th class="ui-state-default" >C&oacute;digo</th>
            <th class="ui-state-default" >Nome</th>
            <th class="ui-state-default" >Site</th>
          </tr>
        </thead>
        <tbody>
          {% for banco in bancos %}
          <tr>
              <td class="ui-widget-content"><input type="checkbox" class="row-selector"></td>
              <td class="ui-widget-content">{{ banco.codigo }}</td>
              <td class="ui-widget-content">{{ banco.nome }} </td>
              <td class="ui-widget-content">{{ banco.site }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}