{% extends 'base.html' %}
{% block title %}Pacientes{% endblock %}

{% block extra-head %}
<script type="text/javascript">
  jQuery(function(){
    jQuery.template( 'atributoTemplate', 
      '<tr>' +
        '<td class="ui-widget-content"><input type="text" name="atributo_${entidade}_${index}"></td>' + 
        '<td class="ui-widget-content"><select name="tipo_atributo_${entidade}_${index}">' +
            '<option value="TEXT">Texto</option>' +
            '<option value="INT">N&uacute;mero</option>' +
            '<option value="DATE">Data</option>' +
            '<option value="TIME">Hora</option>' +
          '</select></td>' + 
        '<td class="ui-widget-content">' + 
          '<a href="#" class="ui-icon ui-icon-trash" onclick="jQuery(this).parent().parent().remove()">Remover</a>' +
        '</td>' +
       '</tr>' );
  });
  
  function novoAtributo(entidade){
    var params = { 
       'index': jQuery('#atributos-' + entidade + ' tbody tr').size(),
       'entidade': entidade
    };
    jQuery.tmpl( 'atributoTemplate', params ).appendTo( '#atributos-' + entidade + ' tbody' );
  }
</script>
{% endblock %}

{% block content %}
<h1>Configura&ccedil;&otilde;es</h1>

<div class="ui-form ui-widget-content ui-corner-all">
  <div class="ui-form-content">
    <form action="{% url gitasoft.conf.views.conf %}" method="post" accept-charset="utf-8">
      {{ form }}
      
      <div>
        <span>Cadastro de paciente</span>
        <span>Campos personalizados</span>
        <div class="ui-form ui-widget-content ui-corner-all">
          <div class="ui-form-content">
            <div class="ui-grid"> 
               <table id="atributos-paciente" class="ui-widget-content ui-grid-content">
                 <thead>
                   <tr class="ui-widget-header ">
                     <th class="ui-state-default" >Nome</th>
                     <th class="ui-state-default" >Tipo</th>
                     <th class="ui-state-default" ></th>
                   </tr>
                 </thead>
                 <tbody>
                 {% for atributo in atributos_paciente %}
                   <tr>
                     <td class="ui-widget-content">
                        <input type="hidden" name="id_atributo_paciente_{{ forloop.counter0 }}" value="{{ atributo.key.id }}">
                        <input type="text" name="atributo_paciente_{{ forloop.counter0 }}" value="{{ atributo.nome }}">
                     </td> 
                     <td class="ui-widget-content">
                       <select name="tipo_atributo_paciente_{{ forloop.counter0 }}">
                         <option value="TEXT">Texto</option>
                         <option value="INT">N&uacute;mero</option>
                         <option value="DATE">Data</option>
                         <option value="TIME">Hora</option>
                       </select>
                     </td>
                     <td class="ui-widget-content"> 
                       <a href="#" class="ui-icon ui-icon-trash" onclick="jQuery(this).parent().parent().remove()">Remover</a>
                     </td>
                   </tr>
                 {% endfor %}
                 </tbody>
               </table>
               <button onclick="novoAtributo('paciente')" type="button">Novo atributo</button>
            </div>
          </div>
        </div>
      </div>
      
      
      <p><input type="submit" value="Cadastrar"/></p>
    </form>
  </div>
</div>


<div class="ui-form ui-widget-content ui-corner-all">
  <div class="ui-form-content">
    <ul>
	    {% for perfil in perfis %}
	        <li>{{ perfil.key }} - {{ perfil.tema }} - {{ perfil.consultorio }} - {{ perfil.responsavel }} - {{ perfil.reply_to }}</li>
	    {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}